
{% extends 'base.html.twig' %}

{% block title %}Confirmation du paiement{% endblock %}

{% block body %}
    <h1>Paiement effectué avec succès</h1>
    <!-- Affichez ici le contenu de confirmation, par exemple un message de confirmation -->
    <p>Merci pour votre paiement. Votre commande a été traitée avec succès.</p>
{% endblock %}
