
{% extends 'base.html.twig' %}

{% block title %}Erreur de paiement{% endblock %}

{% block body %}
    <h1>Erreur lors du paiement</h1>
    <!-- Affichez ici le contenu d'erreur, par exemple un message d'erreur -->
    <p>Une erreur est survenue lors du traitement de votre paiement.</p>
    <p>Veuillez réessayer plus tard ou contacter le support si le problème persiste.</p>
{% endblock %}
