{% extends 'base.html.twig' %}

{% block title %}Edit Pack{% endblock %}

{% block body %}
    <h1>Edit Pack</h1>

    {{ include('pack/_form.html.twig', {'button_label': 'Update'}) }}
    <br> 
    <a href="{{ path('app_pack_index') }}">back to list</a>
   <br> 
    {{ include('pack/_delete_form.html.twig') }}
{% endblock %}
