    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="address">
                    <h4>Adresse du Sunny Hill Festival</h4>
                    <span>5 College St NW, <br>Norcross, GA 30071<br>États-Unis</span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="links">
                    <h4>Liens Utiles</h4>
                    <ul>
                        <li><a href="#">Info</a></li>
                        <li><a href="#">Lieux</a></li>
                        <li><a href="#">Guides</a></li>
                        <li><a href="#">Vidéos</a></li>
                        <li><a href="#">Sensibilisation</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="hours">
                    <h4>Horaires d'Ouverture</h4>
                    <ul>
                        <li>Lun - Ven : 10h00 à 20h00</li>
                        <li>Sam - Dim : 11h00 à 16h00</li>
                        <li>Jours Fériés : Fermé</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="under-footer">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <p>São Conrado, Rio de Janeiro</p>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <p class="copyright">Droits d'Auteur 2021 Société ArtXibition

                                <br>Conception : <a rel="nofollow" href="https://www.tooplate.com" target="">Tooplate</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="sub-footer">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="logo"><span>Art<em>Xibition</em></span></div>
                        </div>
                        <div class="col-lg-6">
                            <div class="menu">
                                <ul>
                                    <li><a href="" class="active">Accueil</a></li>
                                    <li><a href="">À propos de nous</a></li>
                                    <li><a href="">Panier</a></li>
                                    <li><a href="">Spectacles & Événements</a></li>
                                    <li><a href="">Billets</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="social-links">
                                <ul>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
